.favourites-container {
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: black;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 35px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
}


p {
  color: #777;
  font-size: 18px;
}
