.movie-card {
  border: 1px solid #ddd;
  background-color: #222;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  max-width: 1300px;
  }


.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 1px;
}

.movie-card:hover {
  transform: scale(1.05);
}
