.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: white;
}

.navbar-menu {
  display: flex;
  gap: 1.5rem; 
  align-items: center;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logout-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: darkred;
}

.navbar-menu a:hover {
  color: #e50914;
  text-decoration: underline;
}

.navbar-menu a.active {
  color: #e50914;
  font-weight: bold;
}
