.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px 30px;
  color: white;
}

.navbar-menu {
  display: flex;
  gap: 1.5rem; 
  align-items: center;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.back-btn {
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.back-btn:hover {
  text-decoration: underline;
}

.logout-btn {
  background: red;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: darkred;
}

.navbar-menu a:hover {
  color: #e50914;
  text-decoration: underline;
}

.navbar-menu a.active {
  color: #e50914;
  font-weight: bold;
}

.navbar-toggle {
  display: none;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
}


/* Responsive Navbar Fix */
@media (max-width: 768px) {
  .navbar-menu {
    flex-direction: column;
    gap: 10px;
  }
}

